<div class="footer">
    <div class="col-1">
        <div class="footer-image">
            <img src="../../assets/company_name_large.webp">
        </div>
        <br> 
        <b style="padding-left: 10%;">
            "Driving <span class="blue-color">Profits</span>, Guided by
        </b><br>
        <b style="padding-left: 10%">
            <span class="blue-color">Expertise</span>"
        </b>
        <div>
            <i class="fa fa-phone" aria-hidden="true"></i>
        </div>
    </div>

    <div class="col-2">
        <div class="quick-links">
            <div class="header">
                Quick Links
            </div>

        </div>

        <div class="services">
            <div class="header">
                Services
            </div>

        </div>
    </div>
</div>